<div style="background-color:white; padding:15px; overflow: hidden;" ng-init="nameTemplate()">
    <ctrdep-Referencia-Table-Heraldo> </ctrdep-Referencia-Table-Heraldo>
</div>
<div id="mdlLoading" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlDetallesDepositoPuntosVentas" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height: 600px;">
            <div class="modal-header label-mint">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle text-white"></i></button>
                <h4 class="modal-title text-white">Detalles de {{referenciaLabel}}</h4>
            </div>
            <div class="modal-body">

                <div class="panel col-md-12">
                    <br/>
                    <div ui-grid="gridDetallesDepositoPuntosVentas" ui-grid-grouping ui-grid-edit ui-grid-selection ui-grid-exporter ui-grid-cellNav class="grid"></div>
                    <br/>
                </div>  
                <button style="float: right;" ng-if="selectedRowsDetallesReferencia.length > 0" class="btn btn-primary" ng-click="aplicarCobro()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Generar Anticipo</button>            
            </div>
        </div>
    </div>
</div>

<div id="reproteModalPdf" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#1f897f;">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle" style="color:#fff;"></i></button>
                <h4 class="modal-title text-center" id="myLargeModalLabel" style="color:#fff;">Conciliación</h4>
            </div>
            <div  id="htmlReporteConciliacion" class="modal-body text-center">
               <embed ng-src="{{rptResumenConciliacion}}" style="width:800px;height:800px;"></embed>
            </div>
            </div>
        </div>
    </div>
</div>