<div style="background-color:white; padding:15px; overflow: hidden;" ng-init="nameTemplate()">
    <div class="row">
        <div class="form-group" style="margin-top: 23px">
            <button class="btn btn-primary" ng-click="mostrarFiltrosBusquedaPersonas()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Punto de Venta</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="text-main">
                <h4>Puntos de Venta</h4>
            </div>
            <div>
                <table class="table table-striped table-bordered tabla-punteo" cellspacing="0" width="100%" 
            id = "tblCtrlPV">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>RFC</th>
                        <th>Nombre</th>
                        <th>Referencia</th>
                        <th data-sort-ignore="true" class="min-width"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="referenPV in tblReferenciasPuntosVentas">
                        <td>{{referenPV.IdPersona}}</td>
                        <td>{{referenPV.Rfc}}</td>
                        <td>{{referenPV.NombreRazon}}</td>
                        <td>{{referenPV.Referencia}}</td>
                        <td>
                            <button ng-if="referenPV.Referencia == ''" class="glyphicon glyphicon-pencil btn-xs" ng-click="showModalGenerarReferencia(referenPV.IdPersona, referenPV.Rfc)"><i class="ti-eye"></i></button>
                            <button ng-if="referenPV.Referencia != ''" class="glyphicon glyphicon-print btn-xs" ng-click="imprimirReferencia(referenPV.IdPersona, referenPV.Rfc, referenPV.NombreRazon, referenPV.Referencia)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>       
            
        </div>
    </div>
</div>

<div id="mdlLoading" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlBuscarPersonas" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height: 362px;">
            <div class="modal-header label-mint">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle text-white"></i></button>
                <h4 class="modal-title text-white">Nuevo</h4>
            </div>
            <div class="modal-body">
                <div class="panel" style="padding: 5px;">
                    <div class="form-group">
                        <label for="idPersona">Id Persona</label>
                        <input ng-model="filtroPersonas.Id" class="form-control" id="idPersona">
                        <i class=""></i>
                    </div>
                    <div class="form-group">
                        <label for="rfc">RFC</label>
                        <input ng-model="filtroPersonas.Rfc" class="form-control" id="rfc">
                        <i class=""></i>
                    </div>
                    <div class="form-group">
                        <label for="nomRazon">Nombre o Razón Social</label>
                        <input ng-model="filtroPersonas.NombreRazon" class="form-control" id="nomRazon">
                        <i class=""></i>
                    </div>
                    <br>
                </div> 

                <button style="float: right;" class="btn btn-primary" ng-click="buscarPersona()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>                        
            </div>             
        </div>
    </div>
</div>

<div class="modal fade" id="mdlPersonaEncontrada" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header label-mint">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle text-white"></i></button>
                <h4 class="modal-title text-white">Persona(s) encontrada(s)</h4>
            </div>
            <div class="modal-body" style="overflow-y: auto; max-height: 500px;">
            <div class="row">
                 <div class="col-md-12">
                     <div class="text-main">
                         <h4>Personas</h4>
                     </div>
                     <div>
                         <table class="table table-striped table-bordered tabla-punteo" cellspacing="0" width="100%" 
                     id = "tblCtrlBusquedaPersona">
                         <thead>
                             <tr>
                                 <th>Id</th>
                                 <th>RFC</th>
                                 <th>Nombre</th>
                                 <th data-sort-ignore="true" class="min-width"></th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr ng-repeat="persona in tblBusquedaPersonas">
                                 <td>{{persona.IdPersona}}</td>
                                 <td>{{persona.Rfc}}</td>
                                 <td>{{persona.NombreRazon}}</td>
                                 <td>
                                     <button class="glyphicon glyphicon-pencil btn-xs" ng-click="showModalGenerarReferencia(persona.IdPersona, persona.Rfc, persona.NombreRazon)"><i></i></button>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
                     </div>       
                     
                 </div>
             </div>
                   
            </div>             
        </div>
    </div>
</div>

<div id="reporteModalPdf" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#1f897f;">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle" style="color:#fff;"></i></button>
                <h4 class="modal-title text-center" id="myLargeModalLabel" style="color:#fff;">Referencia deposito</h4>
            </div>
            <div  id="htmlReporteConciliacion" class="modal-body text-center">
             <embed ng-src="{{rptResumenConciliacion}}" style="width:800px;height:800px;"></embed>
            </div>
      </div>
    </div>
</div>

